# 빌드 디렉토리
roms/
build/
obj/
external/googletest/build/

# 컴파일된 파일
*.o
*.a
*.out
*.exe

# CMake 관련 파일
CMakeCache.txt
CMakeFiles/
CMakeFiles
*.cmake
compile_commands.json

# 기타 파일
.DS_Store
*.log
*.tmp
*.swp

# 캐시 디렉토리
.cache/
